<div class="rinkWrapper" [ngStyle]="{
    'transform': 'translate(-50%, -50%) scale(' + scale + '%)',
    'width.px': rinkDimensions[0],
    'height.px': rinkDimensions[1]
}">
    <div class="scoreboard" [ngStyle]="{
        'width.px': rinkDimensions[0],
        'transform': 'translate(-50%, calc(-50% - ' + rinkDimensions[1]/2 + 'px))'
    }">
        <p>{{frame | frameToTime: totalTime}}</p>
    </div>
    <div class="rink" [ngStyle]="{
        'width.px': rinkDimensions[0],
        'height.px': rinkDimensions[1]
    }">
        <app-player
            *ngFor="let player of players; let i = index"
            [rinkDimensions]="rinkDimensions"
            [player]="player"
            [index]="i"
            [selectedPlayer]="selectedPlayer"
        ></app-player>
        <app-puck
            [rinkDimensions]="rinkDimensions"
            [puck]="puck"
        ></app-puck>
    </div>
    <div class="bottomCover" [ngStyle]="{
        'width.px': rinkDimensions[0] - 100,
        'bottom': 'calc(calc(100% - ' + rinkDimensions[1] + 'px) * 0.5)'
    }">
        <p><span>Move:</span> WASD</p>
        <p><span>Change Players:</span> 1 - 4</p>
        <p><span>Block:</span> SHIFT</p>
        <p><span>Hit:</span> LEFT CLICK</p>
    </div>
</div>