.rinkWrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    .rink {
        position: absolute;
        background-color: #aed6ff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
    }

    .bottomCover {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 50px;
        gap: 50px;
        height: 100px;
        background-color: white;
        transform: translateY(100%);
        z-index: 10;

        p {
            margin: 0;
            font-size: 1.7em;
            font-weight: 800;

            span {
                font-weight: 300;
            }
        }
    }

    .scoreboard {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        top: 50%;
        left: 50%;
        height: 100px;
        background-color: grey;
        border-radius: 50px 50px 0 0;

        p {
            color: white;
            font-size: 1.6em;
            font-weight: 600;
            line-break: 100%;
            transform: translateY(-85%);
        }
    }
}